<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Blood Bank in Delhi</title>
    <link rel="stylesheet" href="css/List_blood_bank.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <section id="feature">
        <div class="title-text">
            <p>Blood Bank</p>
            <h1>Blood Bank List</h1>
        </div>
        <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell">
                    <p>Blood Bank Provider List</p>
                </div>
                <div class="table-cell">
                    <p>Link</p>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <p>Lions Blood Bank</p>
                </div>
                <div class="table-cell">
                    <p><a href="https://www.justdial.com/Delhi/Lions-Blood-Bank-Near-Richi-Rich-Banquet-Hall-Shalimar-Bagh/011PF020094_BZDET" target="_blank">Click here</a></p>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <p>Divine Charitable Blood Bank</p>
                </div>
                <div class="table-cell">
                    <p><a href="https://www.justdial.com/Delhi/Divine-Charitable-Blood-Bank/011PXX11-XX11-190102121549-M6B5_BZDET" target="_blank">Click here</a></p>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <p>Blood Bank Org</p>
                </div>
                <div class="table-cell">
                    <p><a href="https://www.justdial.com/Delhi/Blood-Bank-Org-Opposite-Metro-Pillar-Number-134-Pusa-Road/011P2077838_BZDET" target="_blank">Click here</a></p>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <p>Bajaj Blood Bank</p>
                </div>
                <div class="table-cell">
                    <p><a href="https://www.justdial.com/Delhi/Bajaj-Blood-Bank-Near-Batra-Hospital-Medical-Research-Centre-Karol-Bagh/011PXX11-XX11-101008112927-V9K1_BZDET" target="_blank">Click here</a></p>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <p>White Cross Blood Bank</p>
                </div>
                <div class="table-cell">
                    <p><a href="https://www.justdial.com/Delhi/White-Cross-Blood-Bank-East-Of-Kailash/011PXX11-XX11-000347696797-C5M7_BZDET" target="_blank">Click here</a></p>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <p>Central Polyclinic Blood Bank</p>
                </div>
                <div class="table-cell">
                    <p><a href="http://dir.alltrack.org/view/119985-0-central-polyclinic-blood-bank" target="_blank">Click here</a></p>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <p>Pitampura Blood Bank</p>
                </div>
                <div class="table-cell">
                    <p><a href="https://www.justdial.com/Delhi/Pitampura-Blood-Bank-Near-Pitampura-Metro-Station-And-Yamaha-Showroom-Saraswati-Vihar-Pitampura/011PXX11-XX11-130913140054-K1N4_BZDET" target="_blank">Click here</a></p>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <p>Mission Jan Jagriti Blood Bank</p>
                </div>
                <div class="table-cell">
                    <p><a href="https://www.justdial.com/Delhi/Mission-Jan-Jagriti-Blood-Bank-UDYOG-NAGAR-METRO-STATION-OPPOSITE-METRO-PILLAR-No-321-Udyog-Nagar/011PXX11-XX11-140823121605-T8F2_BZDET" target="_blank">Click here</a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>